/* -------------------------------------------------- */
.container-up {
  width: 100%;
  margin: 0 auto;
}
.form_text_ipt_lefft {
  width: 50%;
  height: 450px;
  float: left;
  border: 1px solid black;
  border-radius: 8px;
}
.form_text_ipt_right {
  width: 45%;
  float: right;
}

.form {
  position: relative;
  width: 100%;
  height: 50px;
  background: #fff;
  border-radius: 5px;
}
/*-------- left --------*/
.form input {
  width: 100%;
  position: absolute;
  border: 1px solid white;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  color: black;
  outline: none;
  padding: 15px 20px;
  background: none;
}
/* -------------------------------------- */
.form_gia {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form_giaGoc {
  position: relative;
  width: 48.5%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}
.form_giaGoc input {
  width: 100%;
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  color: black;
  outline: none;
  padding: 12px 20px;
  background: none;
}

/* -------------------------------------- */
.form-date {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form_nhap {
  position: relative;
  width: 35%;
}
.form_nhap input {
  width: 100%;
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  color: black;
  outline: none;
  padding: 10px 20px;
  background: none;
}

/* -------------------------------------- */
.form_sale {
  width: 30%;
}
.form_sale select {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 12px 10px;
}

/* -------------------------------------- */
.form_trangthai {
  width: 100%;
  height: 50px;
  background: #fff;
  border-radius: 5px;
}
.form_trangthai select {
  font-size: 15px;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 15px;
}

/* -------------------------------------- */
.form-loaiSP {
  width: 100%;
  padding-top: 15px;
}
.form-loaiSP select {
  width: 100%;
  border-radius: 5px;
  padding: 15px 20px;
}

/* -------------------------------------- */
.form_mota {
  width: 100%;
  margin-top: 15px;
}
.form_mota textarea {
  border-radius: 5px;
  border: none;
}
.mota_txtArea {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding: 12px 17px;
  border-radius: 5px;
  border: 1px solid black;
}
/* -------------------------------------- */
.form input:hover,
.form_giaGoc input:hover,
.form_nhap input:hover {
  border-color: #2065d1;
}
.form-loaiSP select:hover,
.form_sale select:hover {
  border: 1px solid #2065d1;
}

.form_giaGoc input:focus,
.form input:focus,
.form_nhap input:focus {
  border-color: rgb(0, 241, 0);
}

.form_giaGoc label,
.form label,
.form_nhap label {
  position: absolute;
  left: 1rem;
  top: 14px;
  padding: 0 5px;
  color: black;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: rgb(255, 255, 255);
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.4rem;
  font-size: 0.8rem;
  left: 0.8rem;
}

.btn-dialog {
  width: 95%;
  margin: 2% 2.5%;
  background: #f9f9f9;
  border-radius: 5px;
}

.btn_add_cancel {
  margin: 1%;
  width: 20%;
  height: 40px;
}

/* --------------- dialog Chi tiết sản phẩm ---------------*/
.frames_1 {
  width: 100%;
  height: 250px;
  background: #ddebff;
  border-radius: 8px;
}
.dialog_xemthem_left {
  width: 49%;
  height: 450px;
  float: left;
  border: 1px solid black;
  border-radius: 8px;
}
.dialog_xemthem_right {
  width: 49%;
  float: right;
}

.dl_ten {
  border-bottom: 1px solid #f0f2f4;
  display: flex;
  font-weight: 600;
  line-height: 1.5714285714285714;
  font-size: 1.5rem;
  padding: 10px 24px;
  width: 100%;
}
.dl_soLuong {
  border-bottom: 1px solid #f0f2f4;
  display: flex;
  font-weight: 600;
  line-height: 1.5714285714285714;
  font-size: 0.8rem;
  padding: 10px 24px;
  width: 100%;
}
.dl_gia {
  float: left;
  border-bottom: 1px solid #f0f2f4;
  display: flex;
  font-weight: 600;
  line-height: 1.5714285714285714;
  font-size: 0.9rem;
  padding: 10px 24px;
  width: 50%;
}
.dl_loaiSP {
  border-bottom: 1px solid #f0f2f4;
  display: flex;
  font-weight: 600;
  line-height: 1.5714285714285714;
  font-size: 0.9rem;
  padding: 10px 24px;
  width: 100%;
}
.dl_moTa {
  line-height: 1.5714285714285714;
  font-size: 0.9rem;
  width: 100%;
}
.mota1 {
  display: flex;
  font-weight: 600;
  line-height: 1.5714285714285714;
  font-size: 1rem;
  width: 100%;
}
.mota2 {
  border: none;
  display: flex;
  font-size: 0.9rem;
  width: 100%;
  height: 300px;
}
/* .dl_xemThem {
  border-bottom: 1px solid #f0f2f4;
  display: flex;
  font-weight: 600;
  line-height: 1.5714285714285714;
  font-size: 1rem;
  padding: 2%;
  width: 100%;
} */
.btn_dialog {
  width: 100%;
}
.btn_cancel {
  width: 10%;
  height: 40px;
}

/* ========== dialog mã giảm giá ==========*/
.frames_sale {
  width: 100%;
  background: #f9f9f9;
  border-radius: 5px;
  display: flex;
}
.sale_left {
  padding: 3% 2%;
  margin: 2% 0 2% 2%;
  background: #ddebff;
  width: 58%;
  border-radius: 8px;
}
.sale_left_top {
  width: 100%;
  height: 78px;
  margin-top: 3%;
}
.sale_right {
  padding: 2%;
  margin: 2%;
  background: #fc7e7ed3;
  width: 50%;
  border-radius: 8px;
}
/* ========== dialog thêm, sửa, loại sản phẩm ==========*/
.frames_loaiSp {
  width: 100%;
  height: 370px;
  background: #f9f9f9;
  border-radius: 5px;
  display: flex;
}
.loaiSP_left {
  padding: 2%;
  margin: 2%;
  background: #fc7e7ed3;
  width: 31%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form_top {
  height: 70px;
  width: 100%;
  display: flex;
}
.form_top_left {
  width: 60%;
}
.form_img_image {
  background: #fff;
  border: 1px solid #ddebff;
  border-radius: 5px;
  margin-bottom: 2%;
  width: 90%;
  height: 250px;
}
.form_img_click {
  width: 90%;
}
.form_img_click input {
  width: 100%;
  background-color: #fefefe;
  border-radius: 5px;
}
.form_top_right {
  width: 40%;
  border-radius: 5px;
  margin: 0 0 0% 3%;
}
.loaiSP_right {
  padding: 3% 2%;
  margin: 2% 2% 2% 0;
  background: #ddebff;
  width: 63%;
  border-radius: 8px;
}
.form_mota_LSP {
  width: 100%;
  margin: 2% 0;
}
.form_mota_LSP textarea {
  border-radius: 5px;
}
/* sửa */
.frames_loaiSpFix {
  width: 100%;
  height: 380px;
  background: #f9f9f9;
  border-radius: 5px;
  display: flex;
}
.loaiSP_leftFix {
  padding: 2%;
  margin: 2%;
  background: #fc7e7ed3;
  width: 23%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.loaiSP_centerFix {
  padding: 2%;
  margin: 2% 0;
  background: #fc7e7ed3;
  width: 23%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.form_topFix {
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: column;
}
.form_top_leftFix {
  width: 60%;
}
.form_img_imageFix {
  background: #fff;
  border: 1px solid #ddebff;
  border-radius: 5px;
  margin-bottom: 2%;
  width: 90%;
  height: 170px;
}
.form_img_clickFix {
  width: 90%;
}
.form_img_clickFix input {
  width: 100%;
  background-color: #fefefe;
  border-radius: 5px;
}
.form_top_rightFix {
  width: 40%;
  border-radius: 5px;
  margin: 3% 0 3% 3%;
}
.loaiSP_rightFix {
  padding: 2%;
  margin: 2%;
  background: #ddebff;
  width: 46%;
  border-radius: 8px;
}
.form_mota_LSP_Fix {
  width: 100%;
  height: 170px;
  margin-top: 5%;
}
.form_mota_LSPFix textarea {
  border-radius: 5px;
  border: none;
}
.form_warning {
  padding: 0 0 0 1px;
  width: 100%;
  font-size: 15px;
  color: red;
}
