/* -------------------------------------------- TableCell --------------------------------------------*/

.name_sp {
  width: 29%;
}
.image_sp {
  width: 5%;
}
.giaGoc_giaBan {
  width: 15%;
}
.so_luong {
  width: 6%;
}
.giam_gia {
  width: 6%;
}
.trang_thai {
  width: 5%;
}
.loai_chiTiet {
  width: 13%;
}
.btn_xemThem {
  width: 100%;
  height: 28px;
}

/* --------------------- */
.switch {
  margin-top: 3px;
  position: relative;
  display: inline-block;
  width: 35px;
  height: 15px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}
